<h1>Please sign in</h1>

<form action="/signin" method="post">
  Email or user's nickname: <input name="email_or_username" type="text" >
  Password: <input name="password" type="password">
  <input type="submit" value="Sign in">
</form>